:root {
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgb(121, 167, 211);
  overflow: hidden; /* Added overflow property */
}

.container {
  max-width: 42vw;
  height: 65vh;
  margin: 10vh auto;
  background-color: #375275;
  box-shadow: 0px 0px 100px -50px rgba(178, 182, 126, 0.5);
  border-radius: 5px;
  border-color: #202020;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  overflow: auto; /* Added overflow property */
}

h2 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-top: 10px;
  color: black;
  font-size: 16px;
}

select {
  width: 78%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px -5px rgba(255, 0, 0, 0.342);
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

select:hover {
  background-color: #ebe8e8;
  transition: 100ms;
}

button {
  margin-top: 20px;
  width: 78%;
  padding: 10px;
  background-color: #6b8edb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #303f5f;
  transition: 100ms;
}

#result {
  margin-top: 30px;
  padding: 20px;
  background-color: #375275;
  border: 1px solid #375275;
  border-radius: 4px;
  flex-direction: column;
  overflow: auto; /* Added overflow property */
}

.result-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.result-text {
  margin-bottom: 10px;
}

#ability {
  display: flex;
  flex-direction: row;
  overflow: auto; /* Added overflow property */
}
