:root {
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgb(121, 167, 211);
  overflow: hidden;
}

.container {
  max-width: 42vw;
  height: 65vh;
  margin: 10vh auto;
  background-color: #375275;
  box-shadow: 0px 0px 100px -50px rgba(178, 182, 126, 0.5);
  border-radius: 5px;
  border-color: #202020;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  overflow: auto;
}

.middle-elements {
  /* Add your specific styling for the elements in the middle */
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.custom-button {
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #990000;
  transition: 100ms;
}
